@model SoccerClub.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Update Category</h4>
                </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Update Category</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="CategoryId" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="row">
                                    <div class="mb-3 col-md-10">
                                        <label>Category Name</label>
                                        <input asp-for="CategoryName" required class="form-control" placeholder="Player Name">
                                        <span asp-validation-for="CategoryName" class="text-danger"></span>

                                    </div>
                                    <button type="submit" class="btn btn-primary">Update Category</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
