@model SoccerClub.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Add Products</h4>

                </div>
            </div>

        </div>
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Product Form</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="ProductId" />

                                <div class="row">
                                    <div class="mb-3 col-md-10">
                                        <label>Product Name</label>
                                        <input asp-for="ProductName" type="text" class="form-control" placeholder="Product Name">
                                    </div>
                                    <div class="mb-3 col-md-10">
                                        <label>Category</label>
                                        <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"></select>
                                    </div>

                                    <div class="mb-3 col-md-10">
                                        <label>Quantity</label>
                                        <input asp-for="Quantity" type="text" class="form-control" placeholder="Quantity">
                                    </div>
                                    <div class="mb-3 col-md-5">
                                        <label class="control-label">Choose an Image:</label>
                                        <input type="file" asp-for="ImageUrl" class="form-control">

                                    </div>
                                    <div class="mb-3 col-md-5">
                                        <label>Price</label>
                                        <input asp-for="Price" type="text" class="form-control">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-10">
                                        <label>Description</label>
                                        <input asp-for="Description" type="text" class="form-control">
                                    </div>
                                </div>

                                <button type="submit" class="btn btn-primary">Add Product</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
