@model SoccerClub.Models.Feedback
@{
    ViewData["Title"] = "Feedback";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main -->
<main>
    <div class="common-home mt-5">
        <div id="content" class="mt-5 col">
            <div class="container">
                <div class="box-content">
                    <div class="row">
                        <div class="contact-section1">
                            <div class="contact-inner">
                                <span style="color:lawngreen;">@ViewBag.feedback</span>
                                <br></br>
                                <h2>Together, We Grow<br/>Provide Your Valuable Feedback</h2>
                                <p>
                                    Your feedback matters! We value your thoughts and insights, which help us improve our services. Please take a moment to share your feedback with us. Thank you for helping us serve you better!
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row contact-section2">
                        <div class="col-sm-6">
                            <img src="~/assets_web/images/contact/contact.png" alt="" class="w-100">
                        </div>
                        <div class="col-sm-6">
                            <div class="contact-inner-right">
                                <form id="form-contact" asp-action="Feedback">
                                    <fieldset>
                                        <div class="grp-1">
                                            <div class="grp-in-2">
                                                <span> Full Name *</span>
                                                <input type="text" value="@Session.Name" readonly
                                                       class="form-control input-lg ui-autocomplete-input">
                                            </div>
                                        </div>
                                        <div class="grp-3">
                                            <span>Comment *</span>
                                            <input asp-for="Feedbacks" type="text"  placeholder="Comment"
                                                   class="form-control input-lg ui-autocomplete-input" required>
                                        </div>
                                        <div class="grp-1">
                                            <div class="grp-in-2">
                                                <button type="submit" class="btn-default">Confirm</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                    <fieldset>
                                        <div class="col-xs-12 form-message">
                                            <div class="submitted">Your message has been sent successfully</div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="news mt-50 wow fadeInUp">

                </div>
            </div>
            <!--  -->
            <!--  -->
        </div>
    </div>
</main>



