
@{
    ViewData["Title"] = "PlayersDetail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- breadcrumb -->
<div class="breadcrumb-main">
    <div class="container">
        <div class="breadcrumb-container">
            <h2 class="page-title">Players Details</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li class="breadcrumb-item">
                    <a href="#">Players Details</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- main -->
<main>
    <div class="common-home">
        <div id="content" class="col">
            <div class="container">
                <div class="schedule-section mt-50  wow fadeInUp">
                    <div class="box-content">
                        <div class="row">
                            <div class="col-4 players-details-image">
                                <img src="~/assets_web/images/playes/player6.png" alt="" class="w-100">
                            </div>
                            <div class="col-8 players-details-bio">
                                <div class="fullname">
                                    <h2>Harry Deo</h2>
                                    <h6>Goalkeeper</h6>
                                    <ul class="details-list">
                                        <li>Nationality : American</li>
                                        <li>Date Of Birth : 25/02/1988</li>
                                        <li>Height : 190cm</li>
                                        <li>Weight : 90kh</li>
                                    </ul>
                                </div>
                                <div class="biography">
                                    <h2>Biography</h2>
                                    <p>
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                        Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                                        a galley of type and scrambled it to make a type specimen book. It has survived not only five
                                        centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in
                                        the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                                        desktop publishing softwarelike Aldus PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </div>
                                <div class="performance">
                                    <h2>Player Performance</h2>
                                    <div class="performe-section">
                                        <span>Attack</span>
                                        <span class="pr">25%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuemin="0"
                                                 aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="performe-section">
                                        <span>Defence</span>
                                        <span class="pr">40%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 40%" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                    <div class="performe-section">
                                        <span>Kick</span>
                                        <span class="pr">32%</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: 32%" aria-valuenow="0"
                                                 aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="news mt-50 wow fadeInUp">
                            <div class="news-inner">
                                <div class="themabilitynewsletterblock">
                                    <div class="themability-newsletter-form block-content box-content">
                                        <div class="page-title toggled d-none">
                                            <h3>Newsletter</h3>
                                        </div>
                                        <div class="block_box">
                                            <div class="news-info">
                                                <div class="row">
                                                    <div class="col-xl-6">
                                                        <div class="newsletter_description_outer d-flex align-items-center">
                                                            <div class="icon-emails">
                                                                <i class="fa-solid fa-envelope"></i>
                                                            </div>
                                                            <div class="news-desc">
                                                                <div class="title-text">
                                                                    <h3>Newsletter</h3>
                                                                    <h3 class="d-none">Get Discount 30% Off</h3>
                                                                </div>
                                                                <div class="news-description">
                                                                    Get free 20% discount for all product on your first
                                                                    order.
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-xl-6 d-flex align-items-center news-right">
                                                        <div class="newsletter_form">
                                                            <form action="#" method="post" id="form_themability_newsletter" data-oc-toggle="ajax">
                                                                <div class="subscribe-form">
                                                                    <input type="email" name="themability_newsletter_usr_email"
                                                                           id="themability_newsletter_usr_email" placeholder="Enter Your E-mail.."
                                                                           class="form-control input-lg inputNew txtemail">
                                                                    <button type="submit" data-bs-toggle="tooltip" title=""
                                                                            class="subscribe-btn btn-default">
                                                                        Subscribe
                                                                    </button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>