@model SoccerClub.Models.Team

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Add New Team</h4>
                </div>
            </div>

        </div>
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Edit Team</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="TeamId" />

                                <div class="row">
                                    <div class="mb-3 col-md-10">
                                        <label>Name</label>
                                        <input asp-for="Name" class="form-control" placeholder="Team Name">
                                        <span asp-validation-for="Name" class="text-danger"></span>

                                    </div>
                                    <div class="mb-3 col-md-10">
                                        <label>Country</label>
                                        <input asp-for="Country" class="form-control" placeholder="Country">
                                        <span asp-validation-for="Country" class="text-danger"></span>
                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-10">
                                            <label>Logo</label>
                                            <input asp-for="LogoUrl" type="file" name="ImageUrl" class="form-control">

                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Edit Team</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

