
@{
	Layout = null;
	
}
@model SoccerClub.Models.User
<!doctype html>
<html lang="en">
<head>
	<title>Soccer Club</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link rel="stylesheet" href="~/assets_login/css/style.css">
	<link rel="icon" type="image/png" href="~/assets_web/images/favicon.png">


</head>
<body class="img js-fullheight" style="background-image: url(../assets_login/images/bg.jpg);">

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Soccer Club</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
						<h3 class="mb-4 text-center">Have an account?</h3>
						<form asp-action="Login" class="signin-form">
							<span class="text-danger text-centre">
								@{
									if (@ViewBag.err != null)
									{
										@ViewBag.err;
									}
								}<span>
							<div asp-validation-summary="ModelOnly" class="text-danger"></div>
							<div class="form-group">
								<input asp-for="Username" type="text" class="form-control" placeholder="Username">
								<span id="UsernameErr" class="text-danger"></span>
							</div>
							<div class="form-group">
								<input asp-for="Password" id="password-field" type="password" class="form-control" placeholder="Password" required>
								<span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
								<span id="passwordErr" class="text-danger"></span>
							</div>
							<div class="form-group">
								<button type="submit" class="form-control btn btn-primary submit px-3">Sign In</button>
							</div>
							
						</form>
						<p class="w-100 text-center"> Don't have an account?</p>
						<div class="social d-flex text-center">
							@*<a href="#" class="px-2 py-2 mr-md-1 rounded"><span class="ion-logo-facebook mr-2"></span> Facebook</a>*@
							<a asp-action="Register" asp-controller="Users" class="px-2 py-2 ml-md-1 rounded"><span class="ion-logo-twitter mr-2"></span> Register </a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script src="~/assets_login/js/jquery.min.js"></script>
	<script src="~/assets_login/js/popper.js"></script>
	<script src="~/assets_login/js/bootstrap.min.js"></script>
	<script src="~/assets_login/js/main.js"></script>

</body>
</html>


