<!DOCTYPE HTML>
<html lang="en-US">

<!-- Mirrored from html.themability.com/soccer/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Aug 2023 04:40:41 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Home - Soccer World HTML Template - Soccer</title>
    <meta name="description" content="Stelar">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="~/assets_web/images/favicon.png">
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="~/assets_web/css/bootstrap.min.css" type="text/css" media="all">
    <!-- Animated Text CSS -->
    <link href="~/assets_web/ajax/libs/animate.css/3.3.0/animate.min.css" rel="stylesheet">
    <!-- owl-carousel CSS -->
    <link rel="stylesheet" href="~/assets_web/css/owl.carousel.css" type="text/css" media="all">
    <!-- font-awesome CSS -->
    <link rel="stylesheet" href="~/assets_web/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <!-- icomoon CSS -->
    <link rel="stylesheet" href="~/assets_web/fonts/themability-font.css" type="text/css" media="all">
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="~/assets_web/style.css" type="text/css" media="all">
    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&amp;family=Poppins:wght@300&amp;family=Roboto:wght@300&amp;display=swap" rel="stylesheet">
   
   

</head>

<body class="common-home soccer">
   @* <div class="loader">
    </div>*@
    <nav id="top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-sm-6 top-left">
                    <div class="contact-info">
                        <a href="#">
                            <i class="fa fa-phone"></i>
                            <span class="">+1 (123) 8425733</span>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 col-sm-6 top-right ">
 @*                   <div class="dropdown btn-group">
                        <a href="#" data-bs-toggle="dropdown" class="dropdown-toggle btn-link" aria-expanded="false">
                            <span class="drop-text">Currency</span>
                            <span class="symbol">USD</span>
                            <i class="fa-solid fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu currency-dropdown dropdown-menu-right">
                            <li><a href="#" class="dropdown-item">€ Euro</a></li>
                            <li><a href="#" class="dropdown-item">£ Pound Sterling</a></li>
                            <li><a href="#" class="dropdown-item">$ US Dollar</a></li>
                        </ul>
                    </div>*@
                    <div class="dropdown btn-group">
                        <a asp-controller="Users" asp-action="Login" class="btn-link" aria-expanded="false">
                            <span class="drop-text">Login</span>
                            <span class="symbol">EN-GB</span>
@*                            <i class="fa-solid fa-caret-down"></i>*@
                        </a>
                     @*   <ul class="dropdown-menu currency-dropdown dropdown-menu-right">
                            <li><a href="#" class="dropdown-item"> English</a></li>
                            <li><a href="#" class="dropdown-item">Hindi</a></li>
                            <li><a href="#" class="dropdown-item">France</a></li>
                        </ul>*@
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- HEADER DEFAULT MANU AREA -->
    <header class=" ">
        <div class="slotmachine-main-menu hidden-xs hidden-sm">
            <div class="slotmachine-nav-area fluid">
                <div class="container">
                    <div class="row header-inner align-items-center sub_sub_menu">
                        <div class="col-xl-2 col-lg-6 col-sm-6 header-left">
                            <div id="logo">
                                <a asp-controller="Home" asp-action="Index">
                                    <img src="~/assets_web/images/logo.png" title="Your Store" alt="Your Store" class="img-fluid">
                                </a>
                            </div>
                        </div>
                        <div class="header-center text-lg-center col-xl-7 col-lg-12">
                            <nav class="slotmachine-menu main-search-menu">
                                <div class="navbar-header d-lg-none">
                                    <button type="button" id="show-header_menu" data-toggle="collapse" class="navbar-toggle">
                                        <i class="fa-solid fa-bars"></i>
                                    </button>
                                </div>
                                <div class="main-menu-outer">
                                    <div class="d-lg-none menu-title">
                                        Menu
                                        <i class="fa-solid fa-xmark"></i>
                                    </div>
                                    <div class="container">
                                        <ul class="main-menu nav-scroll mb-0 header_menu" data-megamenuid="46" data-transition="slide"
                                            data-animationtime="500">
                                            <li class="header-menu-item">
                                                <a asp-controller="Home" asp-action="Index">
                                                    <span><strong>Home</strong></span>
                                                </a>
                                            </li>
                                            <li class="header-menu-item main-dropdown ">
                                                <a href="#" data-bs-toggle="dropdown" class="toggled about-dropdown-toggle btn-link inner-drop"
                                                   aria-expanded="true">Matches<i class="fa fa-chevron-down"></i></a>
                                                <ul class=" about-dropdown dropdown-menu-right hover-menu list-unstyled dropdown-menu">
                                                    <li><a asp-controller="Home" asp-action="Matches" class="dropdown-item">Matches</a></li>
                                                    <li class="main-dropdown dropdown-submenu">
                                                        <a href="#" class="dropdown-item dropdown-toggle inner-drop">
                                                            Recently Winners
                                                            <i class="fa fa-chevron-down"></i>
                                                        </a>
                                                        <ul class="sb-menu dropdown-menu">
                                                            <li><a href="#" class="dropdown-item">Buy Tickets</a></li>
                                                            <li><a href="#" class="dropdown-item">Postponed Match</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a asp-controller="Home" asp-action="MatchesDetail" class="dropdown-item">Match Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="header-menu-item">
                                                <a asp-controller="Home" asp-action="Shop">
                                                    <span><strong>Shop</strong></span>
                                                </a>
                                            </li>
                                            <li class="header-menu-item">
                                                <a asp-controller="Home" asp-action="Schedule">
                                                    <span><strong>Schedule</strong></span>
                                                </a>
                                            </li>
                                            <li class="header-menu-item">
                                                <a asp-controller="Home" asp-action="Blog">
                                                    <span><strong>Blog</strong></span>
                                                </a>
                                            </li>
                                            <li class="header-menu-item main-dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="toggled about-dropdown-toggle btn-link inner-drop"
                                                   aria-expanded="true">players<i class="fa fa-chevron-down"></i></a>
                                                <ul class="about-dropdown dropdown-menu-right hover-menu list-unstyled dropdown-menu ">
                                                    <li><a asp-controller="Home" asp-action="Players" class="dropdown-item">Players</a></li>
                                                    <li class="main-dropdown dropdown-submenu">
                                                        <a href="#" class="dropdown-item dropdown-toggle inner-drop"> Top Players<i class="fa fa-chevron-down"></i></a>
                                                        <ul class="sb-menu dropdown-menu ">
                                                            <li><a class="dropdown-item" href="players-details.html">Players History</a></li>
                                                            <li><a class="dropdown-item" href="#">Postponed Match</a></li>
                                                        </ul>
                                                    </li>
                                                    <li><a asp-controller="Home" asp-action="PlayersDetail" class="dropdown-item"> Players-Details</a></li>
                                                </ul>
                                            </li>

                                            <li class="header-menu-item">
                                                <a asp-controller="Home" asp-action="Contact">
                                                    <span><strong>contact</strong></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </nav>
                        </div>
                        <div class="header-right col-xl-3 col-lg-6 col-sm-6">
                            <div class="header-search">
                                <div id="themabilitySearch" class="input-group themability-search">
                                    <input type="text" name="search" value="" placeholder="Search..."
                                           class="form-control input-lg ui-autocomplete-input" autocomplete="off">
                                    <span class="btn-search input-group-btn">
                                        <button type="button" class="btn  btn-lg">
                                            <i class="icon-search">
                                            </i>
                                        </button>
                                    </span>
                                </div>
                                <div id="cart" class="cart-button">
                                    <button type="button" data-bs-toggle="dropdown"
                                            class="btn btn-inverse btn-default btn-block dropdown-toggle " aria-expanded="true">
                                        <i class="fa-solid fa-cart-shopping"></i>
                                        <span id="cart-total" class="new">
                                            <span class="d-none">My Cart</span>2
                                            <span class="d-none">items</span>
                                        </span>
                                    </button>
                                    <ul class="dropdown-menu dropdown-menu-right header-cart-toggle">
                                        <li class="cart-content-product">
                                            <table class="table table-sm table-striped">
                                                <tbody>
                                                    <tr>
                                                        <td class="text-center product-cart-thumb">
                                                            <a href="product.html">
                                                                <img src="~/assets_web/images/team_store/product1.png" alt="T-shirt"
                                                                     title="T-shirt" class="img-thumbnail">
                                                            </a>
                                                        </td>
                                                        <td class="text-start product-cart-details">
                                                            <a href="#" class="product-item-name">T-shirt</a>
                                                            <div class="product-cart-info">
                                                                <span class="product-cart-qty">1 x </span>
                                                                <span class="product-cart-price">$45.00</span>
                                                            </div>
                                                        </td>
                                                        <td class="text-end product-cart-close">
                                                            <form action="#" method="post" data-oc-toggle="ajax" data-oc-load="#"
                                                                  data-oc-target="#header-cart">
                                                                <input type="hidden" name="key" value="7">
                                                                <button type="submit" data-bs-toggle="tooltip" title="Remove" class="btn btn-danger">
                                                                    <i class="fa-solid fa-circle-xmark"></i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="text-center product-cart-thumb">
                                                            <a href="product.html">
                                                                <img src="~/assets_web/images/team_store/product2.png" alt="Orange rubber ducky"
                                                                     title="Orange rubber ducky" class="img-thumbnail">
                                                            </a>
                                                        </td>
                                                        <td class="text-start product-cart-details">
                                                            <a href="#" class="product-item-name">Shoes</a>
                                                            <div class="product-cart-info">
                                                                <span class="product-cart-qty">1 x </span>
                                                                <span class="product-cart-price">$40.00</span>
                                                            </div>
                                                        </td>
                                                        <td class="text-end product-cart-close">
                                                            <form action="#" method="post" data-oc-toggle="ajax" data-oc-load="#"
                                                                  data-oc-target="#header-cart">
                                                                <input type="hidden" name="key" value="8">
                                                                <button type="submit" data-bs-toggle="tooltip" title="Remove" class="btn btn-danger">
                                                                    <i class="fa-solid fa-circle-xmark"></i>
                                                                </button>
                                                            </form>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </li>
                                        <li>
                                            <div>
                                                <table class="table table-sm table-bordered">
                                                    <tbody>
                                                        <tr>
                                                            <td class="text-start"><strong>Sub-Total</strong></td>
                                                            <td class="text-end">$85.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-start"><strong>Eco Tax (-2.00)</strong></td>
                                                            <td class="text-end">$2.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-start"><strong>VAT (20%)</strong></td>
                                                            <td class="text-end">$83.00</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="text-start"><strong>Total</strong></td>
                                                            <td class="text-end">$85.00</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p class="text-center product-cart-button">
                                                    <a asp-action="Cart" asp-controller="Home" class="btn cart-btn addtocart-btn btn-default">
                                                        <i class="fa-solid fa-cart-shopping d-none"></i> View Cart
                                                    </a>
                                                    <a href="shopping-cart.html" class="btn cart-btn addtocart-btn btn-default">
                                                        <i class="fa-solid fa-cart-shopping d-none"></i> Checkout
                                                    </a>
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

            @RenderBody()

    <!-- .PAGE CONTENT -->
    <p class="border-dashed"></p>
    <!-- FOOTER AREA -->
    <footer>
        <div class="container">
            <div class="footer-top">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="position-footer-left">
                            <div>
                                <h2 class="toggled">
                                    contact
                                    <span class="toggle"><i class="fa fa-chevron-down"></i></span>
                                </h2>
                                <ul class="list-unstyled footer_collaps">
                                    <li>
                                        <div class="site">
                                            <div class="contact_title"><i class="fa-solid fa-location-dot"></i></div>
                                            <div class="contact_site">
                                                National park,d1 588436,
                                                <br>United States
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="phone">
                                            <div class="contact_title"><i class="fa fa-phone"></i></div>
                                            <div class="contact_site">+91 123 456 789</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="fax">
                                            <div class="contact_title"><i class="fa fa-fax"></i></div>
                                            <div class="contact_site">0123-456-789</div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="email">
                                            <div class="contact_title"><i class="fa fa-envelope"></i></div>
                                            <div class="contact_site"><a href="mailto:info@Yourstore.com">demo@Yourstore.com</a></div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="toggled">Information <span class="toggle"><i class="fa fa-chevron-down"></i></span></h2>
                        <ul class="list-unstyled footer_collaps">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Delivery Information</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms &amp; Conditions</a></li>
                            <li><a href="#"> Site Map</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3 d-none">
                        <h2 class="toggled">Customer Service</h2>
                        <ul class="list-unstyled footer_collaps"></ul>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="toggled">Extras <span class="toggle"><i class="fa fa-chevron-down"></i></span></h2>
                        <ul class="list-unstyled">
                            <li><a href="#">Brands</a></li>
                            <li><a href="#">Gift Certificates</a></li>
                            <li><a href="#">Affiliate</a></li>
                            <li><a href="#">Specials</a></li>
                            <li><a href="#"> Site Map</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <h2 class="toggled">My Account <span class="toggle"><i class="fa fa-chevron-down"></i></span></h2>
                        <ul class="list-unstyled footer_collaps">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Order History</a></li>
                            <li><a href="#">Wish List</a></li>
                            <li><a href="#">Newsletter</a></li>
                            <li>
                                <a href="#">Returns</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-3">
                        <div class="position-footer-right">
                            <div>
                                <h2 class="toggled">find us on</h2>
                                <div class="follow-link">
                                    <div class="social-media">
                                        <a href="#">
                                            <i class="fa-brands fa-facebook-f"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-twitter"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-instagram"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-pinterest"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-youtube"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="position-footer-right">
                            <div>
                                <h2 class="toggled">payment</h2>
                                <div class="payment-link">
                                    <div class="payment-method">
                                        <a href="#">
                                            <i class="fa-brands fa-cc-visa"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-cc-mastercard"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-cc-paypal"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-cc-discover"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa-brands fa-cc-amex"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="copyright">Powered By <a href="#">Soccer World </a><br> - 2023.</p>
        </div>
    </footer>
    <a href="#" class="scrollToTop back-to-top" data-toggle="tooltip" title="" data-original-title="Top" style="display: block;"></a>
    <!-- .FOOTER AREA -->
    <!-- Main jquery js -->
    <script src="~/assets_web/js/vendor/jquery-3.2.1.min.js"></script>
    <!-- bootstrap js -->
    <script src="~/assets_web/js/bootstrap.min.js"></script>
    <!-- owl-carousel js -->
    <script src="~/assets_web/js/owl.carousel.min.js"></script>
    <!-- wow js -->
    <script src="~/assets_web/ajax/libs/wow/1.1.2/wow.min.js"></script>
    <!-- Main js -->
    <script src="~/assets_web/js/theme.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>

<!-- Mirrored from html.themability.com/soccer/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 09 Aug 2023 04:41:05 GMT -->
</html>