@model IEnumerable<SoccerClub.Models.Order>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="shop-main">
    <!-- main -->
    <main>
        <div class="common-home">
            <div id="content" class="col">
                <div class="container" style="padding-top:20%">
                    <div class="page-title toggled" style="height:200px">
                        <span class="page-title-left"></span>
                        <h3 >
                            Your Order Has Been Placed Successfully
                        </h3>
                        <span class="page-title-right"></span>
                    </div>
                    <div class="schedule-section mt-50  wow fadeInUp">
                        <div class="box-content">
                            <div class="container">

                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

</div>