@model SoccerClub.Models.Match

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<div class="content-body">
    <div class="container-fluid">
        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>Re-Schedule Match</h4>
                </div>
            </div>

        </div>
        <!-- row -->
        <div class="row">

            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Re-Schedule Match</h4>
                    </div>
                    <div class="card-body">
                        <div class="basic-form">
                            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                               <input type="hidden" asp-for="MatchId" />
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="row">
                                    <div class="mb-3 col-md-10">
                                        <label>Date</label>
                                        <input asp-for="Date" class="form-control" placeholder="Date">
                                        <span asp-validation-for="Date" class="text-danger"></span>

                                    </div>
                                    <div class="mb-3 col-md-10">
                                        <label>Time</label>
                                        <input asp-for="Time" class="form-control" placeholder="Time">
                                        <span asp-validation-for="Time" class="text-danger"></span>

                                    </div>
                                    <div class="mb-3 col-md-10">
                                        <label>AwayTeam</label>
                                        <select asp-for="AwayTeamId" class="form-control" asp-items="@(ViewData["AwayTeamId"] as SelectList)"></select>
                                        <span asp-validation-for="AwayTeam" class="text-danger"></span>

                                    </div>

                                    <div class="mb-3 col-md-10">
                                        <label>HomeTeam</label>
                                        <select asp-for="HomeTeamId" class="form-control" asp-items="@(ViewData["HomeTeamId"] as SelectList)"></select>
                                        <span asp-validation-for="HomeTeam" class="text-danger"></span>

                                    </div>

                                    <div class="mb-3 col-md-5">
                                        <label>Venue</label>
                                        <input asp-for="Venue" type="text" class="form-control">
                                        <span asp-validation-for="Venue" class="text-danger"></span>

                                    </div>

                                </div>
                                <div class="row">
                                    <div class="mb-3 col-md-10">
                                        <label>Season</label>
                                        <input asp-for="Season" type="text" class="form-control">
                                        <span asp-validation-for="Season" class="text-danger"></span>

                                    </div>
                                    <div class="row">
                                        <div class="mb-3 col-md-10">
                                            <label>League</label>
                                            <input asp-for="League" type="text" class="form-control">
                                            <span asp-validation-for="League" class="text-danger"></span>

                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-primary">Update Schedule</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
